@CHARSET "UTF-8";

body {
	padding: 0px;
	margin: 0px;
	background:url("../images/bg-body-2.png");
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
}

a {
	color:#3498DB;
	text-decoration: none;
}

h1 {
	font-size: 35px;
    line-height: 45px;
    font-weight: 400;
    color: #3498db;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    color: #3498db;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
}

h3 {
	font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #3498db;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
}

article {
	padding: 10px;
	background: #FFF;
}

.header-container {
	width: 100%;
	background: #2B292E;
	padding: 10px 0px;
	-webkit-box-shadow: 0px 20px 62px -19px rgba(0,0,0,0.81);
	-moz-box-shadow: 0px 20px 62px -19px rgba(0,0,0,0.81);
	box-shadow: 0px 20px 62px -19px rgba(0,0,0,0.81);
	margin-bottom: 20px;
}

.footer-container {
	width: 100%;
	background: #464D55;
	padding: 10px 0px;
}

.center-container {
	width: 75%;
	margin: 0 auto;
	padding: 10px 0px;
	margin-top: 10px;
	margin-bottom: 10px;
		
}

.center-container header:AFTER {
	content:"";
	display: block;
	clear: both;
}

.logo {
	width: 35%;
	float: left;
	display: inline-block;
}

.top-menu {
	float: left;
	width: 60%;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.top-menu:AFTER {
	content:"";
	display: block;
	clear: both;
}

.top-menu ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.top-menu ul:AFTER {
	content:"";
	display: block;
	clear: both;
}

.top-menu ul li {
	float: left;
}


.top-menu ul li a {
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 15px 10px;
	color: #3498DB;
	text-decoration: none;
	font-family: 'Noto Sans', sans-serif;
	
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

.top-menu ul li a:hover {
	color:#FFF;
	background: #3498DB;
}

.top-menu ul li a.asctive {
	color:#FFF;
	background: #3498DB;
}

.search {
	float: left;
	width: 60%;
	padding-left: 20px;
}

.search-form input[type="text"] {
	width: 80%;
	padding: 5px;
}

.search-form input[type="submit"] {
	padding: 5px 6px;
}

.middle-menu ul {
	padding: 0px;
	margin: 0px auto;
	list-style: none;
	width: 80%;
}

.middle-menu ul li a {
	color: #FFF;
	line-height: 30px;
	display: inline-block;
	padding-left: 35px;
}

.middle-menu ul li a:hover {
	text-decoration: underline;
}

.middle-menu ul li a#popular {
	background-image:url("../images/icon-popularity.png");
	background-repeat: no-repeat;
}

.middle-menu ul li a#category {
	background-image:url("../images/icon-category.png");
	background-repeat: no-repeat;
}

.middle-menu ul li a#new {
	background-image:url("../images/icon-new.png");
	background-repeat: no-repeat;
}

.middle-menu ul li a#att {
	background-image:url("../images/icon-attantion.png");
	background-repeat: no-repeat;
}

.middle-menu ul li a#all {
	background-image:url("../images/icon-all.png");
	background-repeat: no-repeat;
}

.middle-menu:AFTER {
	content: "";
	display: block;
	clear: both;
}

.middle-menu ul li {
	float: left;
	margin: 0px 10px;
}


.content:AFTER {
	content: "";
	display: block;
	clear: both;
}

/*Контент*/
.content-area {
	width: 70%;
	padding: 10px;
	float: left;
}

/*Сайдбар*/
.content-sidebur {
	width: 25%;
	padding: 10px;
	float: left;
	background: #49474B;
	color:#FFF;
}

.promo-list {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.promo-list .promo-item {
	margin: 20px 0px;
	padding:10px;
	box-shadow: 0 0 4px #ddd;
	background: #FFF;
}

.promo-item-sale-marker {
    position: absolute;
    width: 149px;
    height: 122px;
    top: -13px;
    left:15px;
    padding-top: 10px;
    color:#FFF;
}

.promo-item-sale-marker span {
	font-size:14px;
	display: block;
	font-family: 'Noto Sans', sans-serif;
}

.promo-item-sale-marker strong {
    font-size: 30px;
    line-height: 35px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Noto Sans', sans-serif;
}

.promo-item-sale-marker strong span {
    font-size: 15px;
    line-height: 20px;
	font-weight: normal;
}

.promo-item-sale-marker.persent {
	background: url("../images/bg-sale-persent.png") no-repeat;
}

.promo-item-sale-marker.free-delivery {
	background: url("../images/bg-free-delivery.png") no-repeat;
}

.promo-item-sale-marker.free-delivery strong {
	background: url("../images/icon-free-delivery-track-2.png") no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
}

.promo-item-sale-marker.cash {
	background: url("../images/bg-sale-cash.png") no-repeat;
}


.promo-item-block:AFTER {
	content: "";
	display: block;
	clear: both;
} 

.promo-item-block-left {
	width: 150px;
	float: left;
}

.promo-item-block-center {
	width: 350px;
	float: left;
}

.promo-item-block-right {
	width: 180px;
	float: left;
	text-align: center;
	position: relative;
}

.promo-item-coupon-timer {
	margin-top:120px;
}

.promo-item-coupon-timer span {
	display: block;
}

/*Список магазинов*/
.content-sidebur-top-shops ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.content-sidebur-top-shops ul li {
	float: left;
	margin-right: 5px;
}

.content-sidebur-top-shops:AFTER {
	content: "";
	display: block;
	clear: both;
}

.footer-menu {
	margin: 20px 0px;
}

.footer-menu ul {
	padding: 0px;
	list-style: none;
	width: 65%;
}

.footer-menu:AFTER {
	content: "";
	display: block;
	clear: both;
}

.footer-menu ul li {
	float: left;
	margin: 0px 10px;
}


.top-shops-item {
	margin: 10px 0px;
}

.top-shops-item:after {
	content: "";
	display: block;
	clear: both;
}

.top-shops-item img {
	float: left;
	padding-right: 5px;
	padding-bottom: 5px;
}

.top-shops-item p {
	margin: 5px 0px;
}

footer:AFTER {
	content: "";
	display: block;
	clear: both;
}

.copyright {
	width: 700px;
	padding-left:10px;
	float: left;
}

.social-block {
	width: 200px;
	float: left;
}

.social-block:after {
	content: "";
	display: block;
	clear: both;
}

.social-block ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.social-block ul li {
	float: left;
	margin: 0px 10px;
}

.promo-item-title a {
	font-size: 20px;
	text-transform: uppercase;
}

.promo-item-title a:hover {
	color: #1b73ad;
}

.use-promo {
	display: inline-block;
	margin-right: 10px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#3498db 0%,
		#063d70);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#3498db),
		to(#063d70));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 3px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 1px 0px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 0px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 0px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

.use-promo:hover {
	background: -moz-linear-gradient(
		top,
		#3498db 0%,
		#185d99);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#3498db),
		to(#185d99));
}

.see-all-coupons {
	display: block;
	padding-top:5px;
	text-decoration: underline;
}

.see-all-coupons:hover {
	text-decoration: none;
}

.category-coupons {
	padding: 30px 0px;
}

.category-coupons.hidden {
	display: none;
}

.category-coupons ul {
	float: left;
	display: block;
	width: 25%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.category-coupons:AFTER {
	content: "";
	display: block;
	clear: both;
}

.category-coupons ul li {
	padding: 5px 0px;
}

.category-coupons ul li a {
	color: #FFF;
}

.category-coupons ul li a:hover {
	text-decoration: underline;
}

/*
.social-block ul li.fb {
	width: 64px;
	height: 64px;
	display: inline-block;
	background: url("../images/icon-facebook.png");
}

.social-block ul li.vk{
	width: 64px;
	height: 64px;
	display: inline-block;
	background: url("../images/icon-vk.png");
}

.social-block ul li.tw {
	width: 64px;
	height: 64px;
	display: inline-block;
	background: url("../images/icon-twitter.png");
}

*/

/******************* media styles ********************************/

@media screen and (max-width: 800px) {
	.logo {
		width: 30%;
		margin: 0 auto;
		float: none;
	}
	
	.top-menu {
		width: 65%;
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		float: none;
		margin: 0 auto;
	}
	
	.top-menu ul li a {
		font-size: 18px;
		line-height: 22px;
	}
	
	.search {
		float: none;
		margin: 0 auto;
		width: 65%;
		padding-left: 20px;
	}
	
	.search-form input[type="text"] {
		width: 80%;
	}
	
	.search-form {
		font-size: 25px;
		line-height: 30px; 
	}
}
